@import './boot.css';
textarea:focus, input:focus{
  outline: none;
}
h1,h2,h3,h4{
  font-family: var(--title-font);
  font-weight: 500;
}
h1{
  font-size: 40px;
}
.title-block{
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width:1000px) {
  h1{
    font-size: 22px;
  }
  .title-block{
    font-size: 22px;
  }
  main{
    padding-top: 50px;
  }
}
.section-title{
  text-align: center;
  font-size: 40px;
}
.section-title span{
  display: block;
}
.section-text{
  text-align: center;
  margin-bottom: 50px;
}
.section-text span{
  display: block;
}
main{
  padding-bottom: 40px;
}
a{
  font-weight: 300;
  color: var(--link-color);
  text-decoration: underline;
  transition: all 100ms;
}
a:hover{
  color: var(--link-hover-color);
}
body {
  background-color: #fff;
  font-family: var(--base-font);
  font-size: 16px;
  line-height: 1.1;
  color: var(--text-color);
}
body *{
  box-sizing: border-box;
}

.container{
  max-width: 1230px;
  min-width: 320px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#app{
  min-height: 100vh; 
  margin: 0; 
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
.table{
  display: table;
}
.table-row{
  display: table-row;
}
.table-cell{
  display: table-cell;
}
p{
  margin-top:0;
  margin-bottom: 0.5em;
}

.grid-list{
  display: flex;
  margin: -8px;
  flex-wrap: wrap;
}
.grid-list.col-3 .grid-item{
  margin: 8px;
  width: calc(33.3% - 16px);
}
.grid-list.col-4 .grid-item{
  margin: 8px;
  width: calc(25% - 16px);
}
@media screen and (max-width:1000px) {
  .grid-list.col-3 .grid-item{
    margin: 8px;
    width: calc(50% - 16px);
  }
  .grid-list.col-4 .grid-item{
    margin: 8px;
    width: calc(50% - 16px);
  }
}

.see-detail-row{
  text-align: center;
  margin-top: 28px;
  margin-bottom: 28px;
}