h1,h2,h3,h4{
  font-family: var(--title-font);
  font-weight: 500;
}
h1{
  font-size: 40px;
}
a{
  font-weight: 300;
  color: var(--link-color);
  text-decoration: underline;
}
a:hover{
  color: var(--accent-color);
}
body {
  background-color: #fff;
  font-family: var(--base-font);
  font-size: 16px;
  line-height: 1.1;
  color: var(--text-color);
}
body *{
  box-sizing: border-box;
}

.container{
  max-width: 1230px;
  min-width: 320px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#app{
  min-height: 100vh; 
  margin: 0; 
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
.table{
  display: table;
}
.table-row{
  display: table-row;
}
.table-cell{
  display: table-cell;
}
p{
  margin-top:0;
  margin-bottom: 0.5em;
}

.grid-list{
  display: flex;
  margin: -10px;
}
.grid-list.col-3 .grid-item{
  margin: 10px;
  width: calc(33.3% - 20px);
}
.grid-list.col-4 .grid-item{
  margin: 15px;
  width: calc(25% - 20px);
}
.see-detail-row{
  text-align: center;
  margin-top: 28px;
  margin-bottom: 28px;
}