.about-pic img{
  max-width: 100%;
}
.about-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.about-cell{
  margin-left: 10px;
  margin-right: 10px;
  width: calc(50% - 20px);
}
.about-wrapper .btn-row{
  margin-top: 20px;
}
.map-block{
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width:1000px) {
  .about-wrapper{
    display: block;
    margin: 0;
  }
  .about-cell{
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .about-pic{
   text-align: center;
   margin: 0;
   padding: 0;;
  }
}